<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aiseo_optimizer>
            <general>
                <enabled>1</enabled>
                <model>gpt-5-nano</model>
                <default_language>en</default_language>
                <default_tone>professional</default_tone>
                <max_batch_size>20</max_batch_size>
                <auto_apply>0</auto_apply>
            </general>
            <openai>
                <api_key></api_key>
            </openai>
        </aiseo_optimizer>
    </default>
</config>
