<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Test21_Test21::main" title="Test21" sortOrder="90">
                    <resource id="Test21_Test21::notes" title="Notes" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
